.map{
    height: 500px;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px #999;
    margin-top: 1rem;
}

.map .leaflet-container{
    height: 100%;
    border-radius: 1rem;
}
.map .popup_container{
    width: 150px;
    color: purple;
}
.map .popup_container img{
    width: 100%;
}